{% load static %}

<title>NAME PART_ Add Money Object</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
<script src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'XMoneyRe/css/XAddMoneyObject-style.css' %}">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
  dot_counter = 0;
  dot_post_counter = 0;
  is_first = 0;
  // price
  price_input = null;
  price_keyboard = null;
  // currency unit
  mo_currency_unit = null;
  currency_unit_board = null;
  // source
  mo_source = null;
  source_board = null;
  // category
  mo_category = null;
  category_board = null;
  // is flags
  // price
  is_showing_price_keyboard = false;
  // currency unit
  is_showing_currency_unit_board = false;
  // source
  is_showing_source_board = false;
  // category
  is_showing_category_board = false;
  $('document').ready(function () {
    // price
    price_input = document.getElementById("id_mo_price");
    price_keyboard = document.getElementById("id_price_keyboard");
    // currency unit
    mo_currency_unit = document.getElementById("id_mo_currency_unit");
    currency_unit_board = document.getElementById("id_currency_unit_board");
    // source
    mo_source = document.getElementById("id_mo_source");
    source_board = document.getElementById("id_source_board");
    // category
    mo_category = document.getElementById("id_mo_category");
    category_board = document.getElementById("id_category_board");
  });
  // category
  function select_category(category) {
    mo_category.value = category;
  }
  function switch_category_board() {
    if (is_showing_category_board == false) {
      category_board.style.display = 'block';
      is_showing_category_board = true;
    }
    else {
      category_board.style.display = 'none';
      is_showing_category_board = false;
    }
  }

  // source
  function select_source(source) {
    mo_source.value = source;
  }
  function switch_source_board() {
    if (is_showing_source_board == false) {
      source_board.style.display = 'block';
      is_showing_source_board = true;
    }
    else {
      source_board.style.display = 'none';
      is_showing_source_board = false;
    }
  }

  // currency unit
  function select_currency_unit(currency_unit) {
    mo_currency_unit.value = currency_unit;
  }
  function switch_currency_unit_board() {
    if (is_showing_currency_unit_board == false) {
      currency_unit_board.style.display = 'block';
      is_showing_currency_unit_board = true;
    }
    else {
      currency_unit_board.style.display = 'none';
      is_showing_currency_unit_board = false;
    }
  }
  // price
  function switch_keyboard() {
    if (is_showing_price_keyboard == false) {
      price_keyboard.style.display = 'block';
      is_showing_price_keyboard = true;
    }
    else {
      price_keyboard.style.display = 'none';
      is_showing_price_keyboard = false;
    }
  }
  function xkey_pressed(pressed_key) {
    if (pressed_key == '.') {
      // pressing dot
      if (dot_counter == 0) {
        if (is_first == 0) {
          // press dot at head
          price_input.value += "0";
          dot_counter++;
          price_input.value += pressed_key;
          is_first = 1;
        }
        else {
          dot_counter++;
          price_input.value += pressed_key;
          is_first = 1;
        }
      }
      else if (dot_counter == 1) {
        // double dot
        // do nothing
      }
    }
    else if (pressed_key == "Backspace") {
      // back space input
      if (price_input.value.length == 1) {
        price_input.value = "";
        is_first = 0;
      }
      else if (price_input.value.length > 1) {
        price_input.value = price_input.value.substring(0, price_input.value.length - 1);
        if (dot_counter == 1) {
          if (dot_post_counter == 2 || dot_post_counter == 1) {
            dot_post_counter--;
          }
          else if (dot_post_counter == 0) {
            dot_counter = 0;
          }
        }
      }
    }
    else {
      // other numbers input
      if (dot_counter == 1) {
        if (dot_post_counter == 2) {
          // do nothing, full
        }
        else if (dot_post_counter == 0 || dot_post_counter == 1) {
          price_input.value += pressed_key;
          dot_post_counter++;
        }
      }
      else if (dot_counter == 0) {
        // just put every number onto it
        price_input.value += pressed_key;
        // not first anymore
        is_first = 1;
      }
    }
  }
</script>

<body>
  <div class="container">

    <!-- title here -->
    <div class="row mt-3">
      <!-- title here -->
      <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center"
        style="padding:0px;margin:0px;">
        <p class="title-text">New One</p>
      </div>
    </div>

    <!-- back to admin page -->
    <div class="row mb-3" style="padding:0px; margin:0px;">
      <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 pl-5 pr-5 d-flex align-items-center">
        <a id="common-button" class="btn  pl-3 pr-3" href="/XMoneyRe/mf">Cancel</a>
      </div>
    </div>

    <!-- seperation line -->
    <div class="row" style="padding:0px; margin:0px;">
      <img src="{% static 'XMoneyRe/images/seperating-line.png' %}" class="img-fluid" style="height: 2rem; width: 100%">
    </div>

    <!-- description cue -->
    <div class="row mt-1 mb-2 ml-3 mr-3">
      <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
        <p class="mo-description-cue-class">New sucker to add huh?</p>
      </div>
    </div>
    <div class="row mb-3 ml-3 mr-3">
      <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
        <p class="mo-description-cue-class" style="font-size: .7rem;">Hack it and make them cum!</p>
      </div>
    </div>

    <!-- seperation line -->
    <div class="row" style="padding:0px; margin:0px;">
      <img src="{% static 'XMoneyRe/images/seperating-line.png' %}" class="img-fluid"
        style="height: .3rem; width: 100%">
    </div>

    <!-- add feedback message -->
    <div class="row" style="padding:0px; margin:0px;text-align:center;">
      <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
        <p class="addmo-feedback-message" style="padding:0px;margin:auto;">{{ addmo_feedback }}</p>
      </div>
    </div>


    <!-- main form part -->
    <form action="addmo" method="post">
      {% csrf_token %}
      <!-- name -->
      <div class="row mt-2 ml-2 mr-2">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
          <p class="mo_key_des">Name:</p>
        </div>
      </div>
      <div class="row mt-2 ml-2 mr-2">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
          <input class="mo_key_input" type="text" name="mo_name">
        </div>
      </div>

      <!-- price -->
      <div class="row mt-2 ml-2 mr-2">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
          <p class="mo_key_des">Price:</p>
        </div>
      </div>
      <div class="row mt-2 ml-2 mr-2">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
          <input class="mo_key_input" type="text" id="id_mo_price" name="mo_price" readonly onclick="switch_keyboard()">
        </div>
      </div>
      <!-- input keyboard -->
      <div id="id_price_keyboard" style="display:none;" class="mt-2">
        <div class="row mt-1" style="padding:0px; margin:0px;">
          <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed(1)">1</p>
          </div>
          <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed(2)">2</p>
          </div>
          <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed(3)">3</p>
          </div>
        </div>
        <div class="row mt-1" style="padding:0px; margin:0px;">
          <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed(4)">4</p>
          </div>
          <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed(5)">5</p>
          </div>
          <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed(6)">6</p>
          </div>
        </div>
        <div class="row mt-1" style="padding:0px; margin:0px;">
          <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed(7)">7</p>
          </div>
          <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed(8)">8</p>
          </div>
          <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed(9)">9</p>
          </div>
        </div>
        <div class="row mt-1" style="padding:0px; margin:0px;">
          <div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed(0)">0</p>
          </div>
          <div class="col-8 col-md-8 col-sm-8 col-lg-8 col-xl-8 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed('.')">.</p>
          </div>
        </div>
        <div class="row mt-1" style="padding:0px; margin:0px;">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-btn" onclick="xkey_pressed('Backspace')">Backspace</p>
          </div>
        </div>
        <div class="row mt-1" style="padding:0px; margin:0px;">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center pl-1 pr-1"
            style="padding:0px;margin:0px;">
            <p class="btn keyboard-done-btn" onclick="switch_keyboard()">DONE</p>
          </div>
        </div>
      </div>

      <!-- currency unit -->
      <div class="row mt-2 ml-2 mr-2">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
          <p class="mo_key_des">Currency Unit:</p>
        </div>
      </div>
      <div class="row mt-2 ml-2 mr-2">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
          <input class="mo_key_input" type="text" id="id_mo_currency_unit" name="mo_currency_unit" readonly
            onclick="switch_currency_unit_board()">
        </div>
      </div>
      <!-- currency unit board -->
      <div id="id_currency_unit_board" style="display:none;" class="mt-2">
        <!-- all currency units -->
        {% for currency_unit in currency_unit_list %}
        <div class="row mt-2 ml-2 mr-2">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
            <p class="btn currency_unit_button" onclick="select_currency_unit('{{currency_unit}}')">{{currency_unit}}
            </p>
          </div>
        </div>
        {% endfor %}
        <!-- done button -->
        <div class="row mt-2 ml-2 mr-2">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
            <p class="btn keyboard-done-btn" onclick="switch_currency_unit_board()">Done</p>
          </div>
        </div>
      </div>

      <!-- source -->
      <div class="row mt-2 ml-2 mr-2">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
          <p class="mo_key_des">Source:</p>
        </div>
      </div>
      <div class="row mt-2 ml-2 mr-2">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
          <input class="mo_key_input" type="text" id="id_mo_source" name="mo_source" readonly
            onclick="switch_source_board()">
        </div>
      </div>
      <!-- source board -->
      <div id="id_source_board" style="display:none;" class="mt-2">
        <!-- Yuan Yuan Source -->
        <div class="row mt-2 ml-2 mr-2">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
            <p class="btn source_button" onclick="select_source('YuanYuan')">YuanYuan</p>
          </div>
        </div>
        <!-- Hao Hao Source -->
        <div class="row mt-2 ml-2 mr-2">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
            <p class="btn source_button" onclick="select_source('HaoHao')">HaoHao</p>
          </div>
        </div>
        <!-- done button -->
        <div class="row mt-2 ml-2 mr-2">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
            <p class="btn keyboard-done-btn" onclick="switch_source_board()">Done</p>
          </div>
        </div>
      </div>

      <!-- category -->
      <div class="row mt-2 ml-2 mr-2">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
          <p class="mo_key_des">For:</p>
        </div>
      </div>
      <div class="row mt-2 ml-2 mr-2">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
          <input class="mo_key_input" type="text" id="id_mo_category" name="mo_category" readonly
            onclick="switch_category_board()">
        </div>
      </div>
      <!-- category board -->
      <div id="id_category_board" style="display:none;" class="mt-2">
        <!-- Yuan Yuan category -->
        <div class="row mt-2 ml-2 mr-2">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
            <p class="btn category_button" onclick="select_category('YuanYuan')">YuanYuan</p>
          </div>
        </div>
        <!-- Hao Hao category -->
        <div class="row mt-2 ml-2 mr-2">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
            <p class="btn category_button" onclick="select_category('HaoHao')">HaoHao</p>
          </div>
        </div>
        <!-- Mutual category -->
        <div class="row mt-2 ml-2 mr-2">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
            <p class="btn category_button" onclick="select_category('Mutual')">Mutual</p>
          </div>
        </div>
        <!-- done button -->
        <div class="row mt-2 ml-2 mr-2">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center">
            <p class="btn keyboard-done-btn" onclick="switch_category_board()">Done</p>
          </div>
        </div>
      </div>


      <!-- submit button -->
      <div class="mt-5 pl-2 pr-2">
        <input class="btn submit-button" type="submit" value="Submit">
      </div>
    </form>



    <!-- ending text -->
    <div class="row mt-5">
      <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 d-flex align-items-center"
        style="padding:0px;margin:0px;text-align:center;">
        <p class="description-text" align="center">---- You've Reached the Bottom Here ----</p>
      </div>
    </div>
  </div>
</body>